@model MainScheduleViewModel
@{
	ViewData["Title"] = "Main Schedule";
}
<div class="vh-100">
	<div class="navbar container-fluid">
		<select id="specialityFilter" class="form-select container-fluid" style="width:auto;">
			<option selected disabled hidden>Направление</option>
			<option value="0">Все</option>
			@foreach(Speciality speciality in Model.Specialities)
			{
				<option value="@speciality.Id">@speciality.Name</option>
			}
		</select>
	</div>
	<div id="table" class="container-fluid">
		@Html.Partial("Schedule")
	</div>
</div>
@section Scripts{
	<script type="text/javascript">
		$(function () {
			$.ajaxSetup({ cache: false });
			$(".selectedLesson").click(function (e) {

				e.preventDefault();
				$.get(this.href, function (data) {
					$('#dialogContent').html(data);
					$('#modDialog').modal('show');
				});
			});
		})
	</script>

	<script type="text/javascript">
		$(function () {
			$('#specialityFilter').change(function (e) {
				e.preventDefault();
				var spec = $('#specialityFilter').val();
				spec = encodeURIComponent(spec);
				alert(spec);
				$('#table').load('@Url.Action("Schedule", "MainSchedule")?spec='+spec)
			})
		})
	</script>
}




























@*<div class="row vh-100">
	<div class="col p-1">
		<ul id="treeviewContainer" class="list-group">
			@foreach(var item in Model)
			{
				<li class="list-group-item">
					<span class="caret">@item.Name</span>
					<ul class="nested">
						@if (item.Courses != null)
						{
							@foreach (var course in item.Courses)
							{
								<li class="list-group-item">
									<span class="caret">@course.Shortname</span>
									<ul class="nested">
										@foreach (var group in course.Groups)
										{
											<li class="list-group-item">@group.Course.Name - @group.Code</li>
										}
									</ul>
								</li>
							}
						}
					</ul>
				</li>
			}
		</ul>
	</div>
	<div class="col-8 p-1">
	</div>
	<div class="col p-1">
	</div>
</div>*@