@model MainScheduleViewModel
@{
	ViewData["Title"] = "Schedule";
}

<div class="modal fade" id="modDialog">
	<div class="modal-dialog" id="dialogContent">
	</div>
</div>

<div style="display:inline-block">
	<div class="row flex-nowrap sticky" style="top:60px">
		<div class="col-1" style="width:30px"></div>
		@foreach (Group group in Model.Groups)
		{
			<div class="" style="width:350px">
				<h6 class="text-center">@group.Speciality.Shortname-@group.Name</h6>
			</div>
		}
	</div>

	@for (int weekdayId = 1; weekdayId < 7; weekdayId++)
	{
		<div class="row flex-nowrap" style="height:600px; margin-bottom:100px">
			<div class="col-1 sticky weekday-container">
				<h6 class="m-0" style="width:1px; word-wrap:break-word; vertical-align:middle;">@Model.Weekdays[weekdayId - 1]</h6>
			</div>
			@foreach (Group group in Model.Groups)
			{
				<div class="col-2 p-0" style="width:350px">
					@for (int i = 1; i < 7; i++)
					{
						<div class="row border m-1" style="height:17%;">
							@if (Model.Lessons.Any(x => x.Group.Id == group.Id && x.LessonNumber == i && x.Weekday == weekdayId))
							{
								LessonPlan firstLesson = Model
								.Lessons
								.Where(x => x.Group.Id == group.Id && x.LessonNumber == i
								&& x.Weekday == weekdayId && x.WeekNumber == 0)
								.FirstOrDefault();
								LessonPlan secondLesson = Model
								.Lessons
								.Where(x => x.Group.Id == group.Id && x.LessonNumber == i
								&& x.Weekday == weekdayId && x.WeekNumber == 1)
								.FirstOrDefault();

								if (secondLesson == null)
								{
									<a class="selectedLesson" href="/MainSchedule/Lesson?groupId=@group.Id&lessonNumber=@i&weekday=@weekdayId&weekNumber=0">
										<h6>@firstLesson.Subject.Name</h6>
									</a>
								}
								else if (firstLesson == null && secondLesson != null)
								{
									<div class="border" style="height:50%; "></div>
									<a class="selectedLesson border" style="height: 50%" href="/MainSchedule/Lesson?groupId=@group.Id&lessonNumber=@i&weekday=@weekdayId&weekNumber=1">
										<h6>@secondLesson.Subject.Name</h6>
									</a>
								}
								else
								{
									<a class="selectedLesson border" href="/MainSchedule/Lesson?groupId=@group.Id&lessonNumber=@i&weekday=@weekdayId&weekNumber=0">
										<h6>@firstLesson.Subject.Name</h6>
									</a>
									<a class="selectedLesson border" href="/MainSchedule/Lesson?groupId=@group.Id&lessonNumber=@i&weekday=@weekdayId&weekNumber=1">
										<h6>@secondLesson.Subject.Name</h6>
									</a>
								}
							}
							else
							{
								<a class="selectedLesson" href="/MainSchedule/Lesson?groupId=@group.Id&lessonNumber=@i&weekday=@weekdayId&weekNumber=0"></a>
							}

						</div>
					}
				</div>
			}
		</div>
		<hr style="width: calc(350 * @Model.Groups.Count() + 50px)" />
	}
</div>
